* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

header {
  background: #222;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 span {
  color: #007BFF;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.projects {
  display: grid;
  
  gap: 1.5rem;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);

  margin-bottom: 1.5rem; 
}
.project-content {
  max-width: 75%;
}

.project-content h3 {
  margin-bottom: 0.5rem;
}

.project-content p {
  margin-bottom: 0.75rem;
  color: #555;
}

.project-link {
  text-decoration: none;
  font-weight: 600;
  color: #007bff;
}

.project-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.contact-links li {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.contact-links a {
  text-decoration: none;
}

.contact-links svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.contact-links svg:hover {
  transform: scale(1.2);
}
